SQLAlchemy~=1.4.36
pydantic~=1.9.0
setuptools~=62.1.0
py~=1.11.0
jupyter~=1.0.0
pip~=22.1
attrs~=21.4.0
wheel~=0.37.1
tornado~=6.1
Jinja2~=3.1.2
pytest~=7.1.2
mypy~=0.950
tomli~=2.0.1
black~=22.3.0
platformdirs~=2.5.2
pathspec~=0.9.0
click~=8.1.3
isort~=5.10.1
wcwidth~=0.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
pexpect~=4.8.0
decorator~=5.1.1
watchdog~=2.1.7
pyparsing~=3.0.9
packaging~=21.3